<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片上传</title>
    <link rel="stylesheet" href="static/js/bootstrap/css/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">Albums</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <li><a href="/">相册列表 </a></li>
                <li class="active"><a href="#">上传照片</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form method="post" action="/filesUp" enctype="multipart/form-data" class="class="form-control"">
                    <label for="exampleInputFile">选择上传目录</label>
                    <select class="form-control" name="folderName">
                        <% for(let i = 0;i < allAlbums.length;i++ ){ %>
                            <option><%= allAlbums[i] %></option>
                        <% } %>
                    </select>
                    <label for="exampleInputFile"></label>
                    <div class="form-group">
                        <input type="file" name="uploadFile" id="exampleInputFile">
                    </div>
                    <button type="submit" class="btn btn-primary">确认上传</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>