<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>插入结果页面</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><%=result%></h1>
            <% if(state === 0) { %>
                <p>点击learn more 按钮去重新上传...</p>
                <p><a class="btn btn-primary btn-lg" href="/registe" role="button">Learn more</a></p>
            <% } else { %>
                <p>点击learn more 按钮去查看插入数据的列表...</p>
                <p><a class="btn btn-primary btn-lg" href="/show" role="button">Learn more</a></p>
            <% } %>
        </div>
    </div>
</body>
</html>